<footer class="pt-5 ">
            <div class="footer footer-4 ">
                <div class="footer-content container " style=" ">
                    <div class="gridContainer ">
                        <div class="row ">
                            <div class="col-sm-4 ">
                                <div id="text-6 " class="widget widget_text ">
                                    <h4 class="widgettitle ">LOCATIONS</h4>
                                    <div class="textwidget ">
                                        <p>Location 1:<br> 944 Glenholme Court<br> Tiffin, OH 44883</p>
                                        <p>Location 2:<br> 921 Schoolhouse Court<br> New Bern, NC 28560</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div id="nav_menu-3 " class="widget widget_nav_menu ">
                                    <h4 class="widgettitle ">MENU</h4>
                                    <div class="menu-primary-container ">
                                        <ul id="menu-primary " class="menu ">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item menu-item-55 "><a href="http://extendthemes.com/demos/mesmerize-pro-food/
                                " aria-current="page ">Home</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53 "><a href="http://extendthemes.com/demos/mesmerize-pro-food/reservation/ ">Reservation</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-222 "><a href="http://extendthemes.com/demos/mesmerize-pro-food/shop/ ">Our pizza</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-184 "><a href="http://extendthemes.com/demos/mesmerize-pro-food/cart/ ">Your order</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226 "><a href="http://extendthemes.com/demos/mesmerize-pro-food/checkout/ ">Checkout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div id="text-5 " class="widget widget_text ">
                                    <h5 class="widgettitle ">CONTACT</h5>
                                    <div class="textwidget ">
                                        <p>PHONE: 054 / 9923</p>
                                        <p>E-MAIL: orders@pizzanuestra.com</p>
                                        <p>ON SOCIAL MEDIA:</p>
                                    </div>
                                </div>
                                <div data-type="group " data-dynamic-mod="true " class="footer-social-icons ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ----------------- Footer-Bottom-Bar -------------- -->
                <div class="bottom-bar footer-bg-accent ">
                    <div class="gridContainer ">
                        <div class="row text-center ">
                            <div>
                                <h4><span data-type="group " data-dynamic-mod="true ">Food</span></h4>
                                <p class="copyright " data-type="group ">© 2022 Food. Built using WordPress and <a href="# ">Mesmerize Theme</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>